nav {
  background-color: #eee;
  border-bottom: 0.5px solid rgb(167, 167, 167);
  height: 50px;
  position: relative;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

.menu .items {
  cursor: pointer;
  margin: 0 50px;
  text-align: center;
  position: relative;
}


.dropdown {
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.menu .items:hover .dropdown {
  opacity: 1;
}

.dropdown .sous-items {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fffcfc;
  border-radius: 5px;
  white-space: nowrap;
  width: 150px;
}

.dropdown .sous-items:hover {
  background-color: #bababa;
  border-color: #999;
}

.submenu {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 100%;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.dropdown .sous-items:hover .submenu {
  opacity: 1;
}

.sous-items .submenu {
  position: absolute;
  top: 0;
  left: 100%;
}

.submenu .sous_items_2 {
  text-align: left;
  padding: 5px;
  width: 100%;
  text-decoration: none;
  color: #333;
}











/******************************************


/* .menu-ul .items#item-2 {
  position: relative;
}

.menu-ul .items#item-2 .dropdown {
  top: 100%;
  left: 0;
}

.menu-ul .items#item-3 {
  position: relative;
}

.menu-ul .items#item-3 .dropdown {
  top: 100%;;
  left: 0;
} */





